.hero {
  background-color: #f4f5f7;
  padding-top: 74px;
  padding-bottom: 100px;
}

.navbar-brand {
  color: yellow;
  text-transform: uppercase;
  
  font-size: 20px;
  font-weight: 700;
}

.social-network {
  /* margin-right: 20px; */
  padding-right: 20px;
}

.main {
  margin-top: 100px;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #32325f;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #32325f;
}

.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #32325f;
}

.price-tag {
  font-size: 20px;
  font-weight: 400;
  color: #32325f;
}

.price {
  font-size: 48px;
  font-weight: 400;
  color: #32325f;
}

.btn {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

/* О чем книга */
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-block {
  margin-top: 100px;
}

.section-subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 14px;
}

.people {
  background-color: #f4f5f7;
}

.buyer
{
  margin-top: 64px;
}

.footer {
  background-color: #32325f;
  color: #ffffff;
  padding-top: 78px;
  padding-bottom: 100px;
}

.footer-text {
  font-size: 16px;
  font-weight: 700;
}

.footer-title {
  font-size: 24px;
  font-weight: 700;
}

.net {
  color: #ffffff;
  text-decoration: none;
}
